<div>
    <p>@TempData["transferInfo"]</p>
    <form asp-controller="Account" asp-action="Transfer" method="post">

        <label for="senderAccountId">Account id 1:</label>
        <input type="text" id="senderAccountId" name="senderAccountId" />
        <br />
        <label for="recieverAccountId">Account id 2:</label>
        <input type="text" id="recieverAccountId" name="recieverAccountId" />
        <br />
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" />
        <br />
        <br />
        <button type="submit">Transfer</button>

    </form>
</div>